<!--<%- include('header.ejs') %>-->

<!--<div id="maincontent">-->
<!--    <article id="content">-->
<!--        <div class="game-entry">-->
<!--            <h3><%= Title %></h3>-->
<!--            <form action="/mygames/update/<%= id %>" method="post">-->
<!--                <div class="form-group">-->
<!--                    <label>Tytuł:</label>-->
<!--                    <input type="text" class="form-control" name="title" value="<%= title %>" autocomplete="off">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Producent:</label>-->
<!--                    <input type="text" class="form-control" name="producer" value="<%= producer %>" autocomplete="off">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label>Rok wydania:</label>-->
<!--                    <input type="text" class="form-control" name="year" value="<%= year %>" autocomplete="off">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label>Gatunek:</label>-->
<!--                    <input type="text" class="form-control" name="genre" value="<%= genre %>" autocomplete="off">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label>Ocena:</label>-->
<!--                    <input type="text" class="form-control" name="score" value="<%= score %>" autocomplete="off">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <input type="submit" class="btn btn-info" value="Update"/>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </article>-->
<!--</div>-->

<!--<%- include('footer.ejs') %>-->





<%- include('header.ejs') %>

<div id="maincontent">
    <article id="content">
        <div class="game-entry">
            <h3><%= Title %></h3>
            <form action="/mygames/update/<%= id %>" method="post">
                <div class="form-group">
                    <label>Tytuł:</label>
                    <input type="text" class="form-control" name="title" value="<%= title %>" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label>Producent:</label>
                    <input type="text" class="form-control" name="producer" value="<%= producer %>" autocomplete="off" required>
                </div>

                <div class="form-group">
                    <label>Rok wydania:</label>
                    <input type="text" class="form-control" name="year" value="<%= year %>" autocomplete="off" pattern="\d+" title="Wprowadź liczbę całkowitą" required>
                </div>

                <div class="form-group">
                    <label>Gatunek:</label>
                    <input type="text" class="form-control" name="genre" value="<%= genre %>" autocomplete="off" required>
                </div>

                <div class="form-group">
                    <label>Ocena:</label>
                    <input type="number" class="form-control" name="score" value="<%= score %>" autocomplete="off" step="any" required>
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Update"/>
                </div>
            </form>
        </div>
    </article>
</div>

<%- include('footer.ejs') %>
